<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="friendCtrl">
  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Search Anything About Your Friends" ng-model="searchTerm">

        <select class="input-medium" ng-model="sortProp">
          <option value="name">Name</option>
          <option value= "friend">Friends</option>
          <option value = "location.city">City</option>
          <option value = "location.state">State</option>
          <option value = "location.country">Country</option>
        </select>

        <select class="input-medium" ng-model="sortOrder">
          <option value="-">Descending</option>
          <option value="+">Ascending</option>
        </select>
      </div>
    </form>

    <ul>
      <li class='friend' ng-repeat="friend in friends | filter : searchTerm | orderBy: sortOrder + sortProp "  >
        <img class="profile-pic" ng-src={{friend.pic_square}}>
        <h3> {{ friend.name }} </h3>
        <div class="location">
          {{ friend.location.city }}, {{ friend.location.state }}, {{ friend.location.country  }}
        </div>
        <div class="status">
          {{ friend.status.message }}
        </div>
        <div class="num-friends">
         {{ friend.friend_count }}
        </div>
      </li>
    </ul>
  </div>
  <h1></h1>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- your scripts here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
  <script src="./app.js"></script>
  <script src="./friendCtrl.js"></script>
</body>
</html>
